<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'about' %}">About</a> |
    <a href="{% url 'contact' %}">Contact</a>|
    <a href="{% url 'exp' %}">Experience</a>|
    <a href="{% url 'projs' %}">Projects</a>|
    <a href="{% url 'resume' %}">Resume</a>|
    <a href="{% url 'wicd' %}">What I can do</a>|
</head>

<body>

    <h1>California experiences more variance in unemployment than Montana</h1>
    <p>All data was gathered from the US Bureau of Labour Statistics</p>

</body>